header{
    background-image:linear-gradient(#FFFBF0,#FFFBF0);
    min-height: 100vh;
    
}
.product-background{
    background-color:#E5E5E5;
    border-radius: 10px;
}
.my-button{
    color: #fceae8;
    background-image: linear-gradient(to bottom, #A4BC46 100%,#85A019 100%);
    padding: 9px 25px;
    border-radius: 8px;
    border: none;
}